section {
    background-color: blueviolet;
}


#grid-flex {
    display: flex;
    flex-wrap:  wrap;
    justify-content:  space-around ;
    list-style-type: none;
    border:6px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7R2dubFF-8dOdxRJFriXCUHAI4Qqxu7UBqeOX_EQaIvJbYyl3iw" );
  color:orangered;
    background-repeat:repeat;
    
}

.grid-item{

    width: 40%;
    border:6px solid black;
    margin: 6px;
    background: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScdcp0GLtzHNpaCE0etOmBODkSca3zDriJhshHa2PcP2qInJ3f);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item:first-child {
 width: 80%;
}



img{
 width: 70%;
 background-color: whitesmoke;
 margin-left: auto;
 margin-right: auto;
}

@media (min-width: 500px) {
    .grid-item {
        width: 26%;
    }
    .grid-item:first-child {
    width: 45%;
   }
   .grid-item:nth-of-type(2) {
    width: 45%;
  }
}


@media (min-width: 800px) {
    .grid-item {
        width: 20%;
    }
    .grid-item:nth-of-type(2) {
        width: 20%;
      }
}



